#!/usr/bin/ruby
require "etcd"
require "json"

{{if .Env.ETCD_HOST}}
etcd_host = "{{ .Env.ETCD_HOST }}"
{{else}}
etcd_host = "127.0.0.1"
{{end}}

client = Etcd.client(host: etcd_host, port: 4001)

{{ range $key, $containers := groupBy $ "Labels.etcd_conf_key" }}
  {{ range $index, $container := $containers }}

directory = "{{$container.Labels.etcd_conf_key}}"
config_data = JSON.parse(%q({{$container.Labels.etcd_conf_data}}))
config_data.each do |key, value|
  client.set("/#{directory}/#{key}", value: value)
end

  {{ end }}
{{ end }}
